body {
    height: 100vh;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
  }
  
  .header ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
  }
  
  .header li {
    width: 100px;
    display: flex;
    justify-content: center;
    background-color: gray;
    color: #fff;
    border-radius: 5px;
    border: black solid 2px;
    margin-top: 12px;
    margin-right: 40px;
  }
  
  .header a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
  }
  
  .header img {
    width: 60px;
    margin: 12px 20px 0 20px;
  }
  
  .register,
  .login,
  .notes_reg {
    width: 100%;
    height: calc(100% - 70px);
      display: flex;
      justify-content: center;
      margin-top: 0px;
      /* padding-bottom: 40px; */
      /* outline: red solid 2px; */
  }
  
  .frm_wrap {
    width: 100%;
    display: flex;
    margin-top: 3%;
    /* align-items: center; */
    justify-content: center;
    /* outline: blue solid 2px; */
  }
  
  #frm_login,
  #frm_register {
    width: 60%;
    /* outline: green solid 2px; */
  }
  
  #frm_register input,
  #frm_login input,
  #frm_notes input {
    width: 100%;
    height: 25px;
  }
  
  #frm_register .btn_wrap,
  #frm_login .btn_wrap {
    width: 100%;
    display: flex;
    justify-content: right;
    /* outline: green solid 2px;  */
  }
  
  #frm_register button,
  #frm_login button,
  #frm_notes button {
    width: 90px;
    height: 25px;
  }

  #link_register {
    width:60%;
    /* outline: green solid 2px; */
  }
  
  .reg_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    /* outline: red solid 2px; */
  }
  .credentials,
  .notes {
    width: 100%;
    height: 400px;
    border: gray solid 2px;
    margin-top: 24px;
  }
  
  .credentials .top-bar,
  .notes .top-bar {
    width: 100%;
    height: 60px;
    border: gray solid 2px;
    background-color: lightgray;
  }
  
  .top-bar h3 {
    display: flex;
    justify-content: center;
  }
  
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-color: lightblue;
    color: #000;
    border-radius: 10px;
    margin: 12px;
  }
  
  .box img {
    width: 100px;
    height: 100px;
  }
  
  .cred_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .context-menu {
    display: none;
    position: absolute;
    text-align: center;
    background: lightgray;
    border: 1px solid black;
  }
  
  .context-menu ul {
    padding: 0px;
    margin: 0px;
    min-width: 150px;
    list-style: none;
  }
  
  .context-menu ul li {
    padding-bottom: 7px;
    padding-top: 7px;
    border: 1px solid black;
  }
  
  .context-menu ul li a {
    text-decoration: none;
    color: black;
  }
  
  .context-menu ul li:hover {
    background: darkgray;
  }

  #side_menu {
    width: 250px;
    height: 100%;
    margin-top: 12px;
    margin-left: 12px;
    padding: 40px 0 0 20px;
    background-color: lightgray;
    outline: red solid 2px;
  }

  #side_menu ul {
    list-style-type: none;
  }

  #side_menu li {
    padding: 12px;
  }
  
  #side_menu a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 600;
  }
